* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", serif;
}
.mb-24 {
  margin-bottom: 2.4rem;
}

/* Regular 400
Medium 500
SemiBold 600
Bold 700
 */
/* Background Color start */
.bgcolor-sky-blue {
  background-color: #01acfd;
}
.bgcolor-orange {
  background-color: #fea301;
}
.bgcolor-cyan {
  background-color: #05d4df;
}
.bgcolor-purple {
  background-color: #5d58ef;
}
/* Background Color end */

/* Color  start */

.color-orange {
  color: #fea301;
  font-size: inherit;
}
.color-orange-dark {
  color: #ea580c;
  font-size: inherit;
}
.color-sky-blue {
  color: #01acfd;
  font-size: inherit;
}
.color-cyan {
  color: #05d4df;
  font-size: inherit;
}
.color-purple {
  color: #5d58ef;
  font-size: inherit;
}
/* color end  */
/* container  */
.container {
  max-width: 148rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Navigatin start */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.logo-text {
  color: black;
  font-size: 3.2rem;
  font-weight: 700;
}
.logo:hover .logo-text {
  color: #fea301;
  transition: all 150ms;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}
.nav-active {
  font-weight: 700;
}
.nav-link:hover {
  font-weight: 700;
  transition: all 150ms;
}
.nav-btn {
  color: white;
  background-color: #fea301;
  border: none;
  border-radius: 1.2rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.1rem 6rem;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: #f97316;
  transition: all 150ms;
}
.nav-btn:active {
  background-color: #ea580c;
}
.hamburger-icon {
  display: none;
  font-size: 6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: -10px;
}
.hamburger-icon:hover {
  color: #fea301;
  transition: all 150ms;
}

/* Navigatin end */

/* hero section start */
.hero-text-box {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero-structure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.heading-primary {
  font-size: 5.6rem;
  font-weight: 700;
}
.paragraph-primary {
  font-size: 2rem;
  font-weight: 400;
}
.hero-btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.3rem 4.7rem;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #01acfd;
  transition: all 150ms;
}
/* hero section end */

/* curriculum start */
.curriculum {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.heading-secondary {
  font-size: 4.6rem;
  font-weight: 700;
  text-align: center;
  padding: 6rem 0 8rem 0;
}
/* cards */
.all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8rem;
  padding-bottom: 8rem;
}
.card {
  min-width: 14rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 18.86px;
  padding: 5.2rem 4.1rem;
}
.kinder-card {
  border: 0.94px solid rgb(222, 245, 255);

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.elementary-card {
  border: 0.94px solid rgb(255, 244, 220);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.middle-card {
  border: 0.94px solid rgb(242, 232, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-icon {
  height: 13.6rem;
  margin-bottom: 3.2rem;
}
.card-heading {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 3.3rem;
}
.card-description {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin-bottom: 3.3rem;
}
.card-btn {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.kinder-card .card-btn {
  color: #64c8ff;
}
.kinder-card .card-btn:hover {
  color: #01acfd;
  transition: all 150ms;
}
.elementary-card .card-btn {
  color: #f0aa00;
}
.elementary-card .card-btn:hover {
  color: #fea301;
}
.middle-card .card-btn {
  color: #5d58ef;
}
.middle-card .card-btn:hover {
  color: #8700ff;
}
.slider-btn-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.slider-btn {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #fea301;
  border: none;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.slider-btn:hover {
  background-color: #f97316;
  transition: all 150ms;
}

.pt-140 {
  padding-top: 14rem;
}
.our-stories {
  background: url(../assets/bg.png), url(../assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-repeat: no-repeat;
  background-position: top right, bottom right;
}
.our-story-grid {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  gap: 19px;
}
.small-gril-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}
.pb-0 {
  padding-bottom: 0;
}
.large-card {
  border-radius: 1.6rem;
  background-color: #fff;
}
.stories-card-img-large {
  border-radius: 1.6rem 1.6rem 0 0;
  width: 100%;
}
.large-story-card-heading {
  font-size: 2.4rem;
  padding: 1.4rem 3.8rem 4.7rem 3.8rem;
}
.large-card-description {
  font-size: 1.5rem;
  padding: 0 3.8rem 4.7rem 3.8rem;
}
.stories-card-btn {
  padding: 1.4rem 1.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  border-radius: 999px;
  color: #fff;
  position: relative;
  transform: translate(3.8rem, -50%);
}
.story-1-color {
  background-color: #3cd8e8;
}
.story-2-color,
.story-4-color,
.story-5-color {
  background-color: #95b226;
}
.story-3-color {
  background-color: #5d58f0;
}

.small-card {
  background-color: #fff;
  border-radius: 1.6rem;
}
.stories-card-img-small {
  border-radius: 1.6rem 1.6rem 0 0;
  width: 100%;
}
.small-card-heading {
  font-size: 1.5rem;
  padding: 0.4rem 3.8rem 3.3rem 3.8rem;
}
.stories-btn-structure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}
.stories-btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.2rem 6rem;
  cursor: pointer;
}

.stories-btn:hover {
  background-color: #01acfd;
  transition: all 150ms;
}
/* footer start */
.footer {
  padding-top: 12.3rem;
  padding-bottom: 17.4rem;
  background-color: #01acfd;
}
.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo {
  font-weight: 700;
  color: #fff;
  font-size: 4.2rem;
}
.footer-description {
  color: #fff;
  font-size: 2rem;
  padding-top: 3.5rem;
}
.footer-heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  padding-bottom: 3.2rem;
}
.footer-link {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  padding-bottom: 2rem;
  font-weight: 500;
}
.footer-link:hover {
  color: #fed7aa;
  transition: all 150ms;
}
.footer-link-box {
  display: flex;
  flex-direction: column;
}
.social-icon-box {
  display: flex;
  gap: 1rem;
}
.social-icon:hover {
  transform: scale(1.1);
  transition: all 150ms;
}
.footer-description-box {
  width: 80%;
}
/* footer end */
/* responsive start  */
@media screen and (max-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .nav {
    border-bottom: 1px solid #fea301;
  }
  .mobile-display-none {
    display: none;
  }
  .mobile-display-block {
    display: block;
  }
  .hero-structure {
    flex-direction: column-reverse;
  }
  .hero-text-box {
    text-align: center;
  }
  .hero-img {
    padding-top: 2.8rem;
  }
  .all-cards {
    grid-template-columns: 1fr;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .footer {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
